body {
    Margin: 0;
    padding: 0;
    font-size: 0;
    min-width: 100%;
    color: #333333;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

p {
    font-size: 14px;
    Margin: 0;
}

a {
    color: #EE6A56;
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.webkit {
    max-width: 600px;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.inner {
    padding: 10px;
}

.contents {
    width: 100%;
}

.inner .h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}

.inner .h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}

.full-width-image {
    padding: 0 10px;
}

.full-width-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* One column layout */
.one-column .contents {
    text-align: left;
}

.one-column p {
    Margin-bottom: 10px;
}

/* Two column layout */
.two-column {
    font-size: 0;
}

.two-column .column {
    width: 100%;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}

.two-column .contents {
    text-align: left;
}

.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}

.two-column .text {
    padding-top: 10px;
}

/* Three column layout */
.three-column {
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.three-column .column {
    width: 100%;
    max-width: 33%;
    display: inline-block;
    vertical-align: top;
}

.three-column img {
    width: 100%;
    max-width: 180px;
    height: auto;
}

.three-column .text {
    padding-top: 10px;
}

/* Media Queries */
@media (max-width: 414px) {
    .two-column .column,
    .three-column .column,
    .two-column .column img,
    .three-column .column img {
        max-width: 100%;
    }
}